.cabecera {
    background-color: rgb(62, 134, 235);
    color: rgb(234, 238, 245);
    text-align: center;
    height: 25%;
    display: flex;
}

.cuerpo {
    background-color: rgb(253, 253, 253);
    color: black;
    text-align: center;
<<<<<<< HEAD
}

.pie {
    background-color: rgb(26, 24, 24);
    text-align: left;
    height: 20%;
    background-color: black;
    color: beige;
=======
    display: block;
    height: 500px;
}

.titulo {
    color: black;
>>>>>>> body
}