.cabecera {
    background-color: rgb(62, 134, 235);
    color: rgb(234, 238, 245);
    text-align: center;
    height: 25%;
}

.cuerpo {
    background-color: #E2ECFA;
    color: black;
    text-align: center;
}